<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume</h2>
                    <h3 class="section-subheading text-muted">Places my robotics life has taken me so far:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/argallab.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Argallab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Professor Argall and her lab are changing how we think about assistive machines. The research here combines artificial intelligence, rehabilitation robotics and machine learning to find the perfect balance of shared control between the robot and the human. I get to work on extending the current capabilities of the smart powered wheelchair!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/applieddexterity.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2015</h4>
                                    <h4 class="subheading">Applied Dexterity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Applied Dexterity is an awesome startup, delivering surgical robotics platforms. I was their first official intern and I had the awesome opportunity to work on different aspects of the RAVEN-II surgical robot; from the mechanical design, electric circuit debugging, and software development. I also had the amazing opportunity to attended the Hamlyn Medical Robotics Symposium in London and see first-hand the latest is medical robotics research!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/msr.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Northwestern University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I joined the 2014 Master of Science in Robotics cohort. This program has given me the opportunity to expand my technical knowledge and skills in numerous branches of robotics engineering. I got to volunteer at IROS and ROSCON 2015. I was an honorary reportor for RoboticsTomorrow at the Automate Tradeshow 2015. Our cohort had the opportunity to attend the National Resturant Tradeshow and talk about how robotics can change the future of the food industry. We also got to exhibit our projects at the Museum of Science and Industry!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/stretchsense.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">StretchSense</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I got to make cool stuff with stretchy sensors.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/biomimetics.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">The Biomimetics Lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started as an intern in the lab after recieving a summer research scholarship. This was when I found out how work can be super fun when you are surounded by amazing people doing amazing work. I learned so much and had a ton of fun working on my pneumatically actuated robotic fin project.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/auckland.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2012</h4>
                                    <h4 class="subheading">The University of Auckland</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I gradued with a degree in Mechatronics Engineering with first class honors! I owe a lot to my undergraduate experience and all the people I met at UoA.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>ROBOTS
                                    <br>ARE THE
                                    <br>FUTURE!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>