  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline">
                        <li><a href="m.nejati@u.northwestern.edu?Subject=Hello%20from%20portfolio%20visitor" target="_top"><font color="black">m.nejati@u.northwestern.edu</font></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

